extends jade/page.jade

block basePath
  -basePath = ""

block relativePath
  -relativePath = ""

block content
  h1 Home
  p Hey there! Check out the #[a(href='laser-cutter') laser-cut cardboard construction kit] I've been making.
