extends ../jade/page.jade

block basePath
  -basePath = "../"

block relativePath
  -relativePath = "about/"

block content
  h1 I'm Daniel Windham
  p I like computers. They make people smarter, but not often enough. I'm trying to make them better at it.
  p As of December 2015, I was online at #[a(href="//tenedor.github.io/me/", target="_blank") tenedor.github.io/me/]. Who knows when you're reading this? Who knows if I'm still there? As of December 2015, humans hadn't fixed resource impermanence issues like this one. Hopefully by the time you're reading this we have.
  img(src='#{imgPath}11-11-oil-portrait-streak.jpg')
