extends ../jade/page.jade

block basePath
  -basePath = "../"

block relativePath
  -relativePath = "computer-aided-design/"

block content
  h1 Computer-Aided Design
  p Coming soon. I do apologize - my computer harddrive went inaccessible for multiple days when I had expected to wrap this up, and I haven't yet made up the time. But check out the #[a(href='../laser-cutter') laser cutter] project for ample use of 3D-modeling tool Antimony.
  p As a teaser, however, here is my progress to date.
  img(src='#{imgPath}keyset-0-top.jpg')
  img(src='#{imgPath}keyset-0-front.jpg')
  img(src='#{imgPath}keyset-0-bottom.jpg')
  img(src='#{imgPath}keyset-0-back-angle.jpg')
